.Header {
  display: flex;
  justify-content: center;
  padding: 60px 0 60px 0;
  border-bottom:1px solid #222;
}

.HeaderContainer {
  display:flex;
  width:75%;
  min-width: 900px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.HeaderTitle {
  display: flex;
  font-size:38px;
  align-items:center;
}

.HeaderTitle img {
  margin-right: 20px;
}

.Main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 22px;
}

.MainContainer {
  width:75%;
  max-width: 1200px;
}

.textBox {
  margin-bottom:75px;
}

.sendSolForm {
  display:flex;
  flex-direction:column;
}

.sendSolForm div {
  display: flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:20px;
}

.sendSolForm input, .sendSolForm button {
  font-size:26px;
  padding:10px;
}

.sendSolForm div * {
  margin-right: 20px;
}
